---
import Layout from '../layouts/Layout.astro';
const response: Response | User[] = await fetch('http://localhost:4321/api/ejemplo.json');
const data = await response.json();
console.log(data)

interface User {
	author: string;
	body: string;
}
---

<Layout title='Dashboard'>
	<ul>
		{
			data.map((d: User) => {
				return <li>{d.author}</li>;
			})
		}
	</ul>
</Layout>

<script></script>
